@model List<ClassWork3.Models.Staff>

@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

@foreach (var x in Model)
{
<p>
    @x.FirstName @x.LastName @x.Patronymic @x.BirthDay.ToString("dd.MM.yyyy") @x.ContactNumber
</p>
}


